<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Results</title>
  <link rel="stylesheet" href="/styles.css" type="text/css">    
</head>
<style>
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #fff;
        background-color: #6c757d;
    }
</style>
<body>
	<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Saint Acutis Hospital</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/doctor/profile" class="nav-link">Profile</a></li>
        <li class="nav-item"><a href="/doctor/analysis" class="nav-link active" aria-current="page">Analysis</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link">Sign out</a></li>
      </ul>
    </header>
  </div>
  <div class="container">
  	<div class="mt-5 d-flex justify-content-between">
  		<h1 class="fw-normal">
  			Check Patients Analysis
  		</h1>
      <div class="d-flex">
        <a href="/doctor/analysis"><button type="submit" id="updateButton" class="btn btn-lg btn-outline-primary">Update Results</button></a>        
      </div>
    </div>
    <% if (data.length == 0) { %>
      <h3 class="mt-5 lead text-center">You have no registered analysis results.</h3>
    <% } else { %>
    <h3 class="mt-2 lead">Results of patient: <%= patient_id %>.</h3>
    <a href="/doctor/analysis"><button type="button" class="btn btn-danger">Clear filter</button></a>
  	<table class="table table-hover">
  		<thead>
  			<tr>
  				<th scope="col">Analysis ID</th>
          <th scope="col">Patient ID</th>
          <th scope="col">Laboratory</th>
  				<th scope="col">Result</th>
  			</tr>
  		</thead>
  		<tbody>
  			<% for( let i = 0; i < data.length; i++ ) { %>
              <tr class="in-table">
                <th scope="row"><%= data[i].analysis_id %></th>
                <th scope="row"><%= data[i].id %></th>
                <td><%= data[i].lab_name %> </td>
                <td><%= data[i].result %> </td>
              </tr>
        <% } %>
  		</tbody>
  	</table>
    <% } %>
  </div>
</body>